<%= content_tag :div, class: 'container-fluid' do %>
  <%= content_tag :h2 do %>
    Profile of: <%= @user.email %>
  <% end %>
  <%= content_tag :div, class: 'all-artworks' do %>
    <button id="my-sales">Sales</button>
    <button id="my-purchases">Purchases</button>
  <% end %>

  <%= content_tag :div, id: 'art-sales' do %>
  <% end %>

  <%= content_tag :div, class: 'all-artworks' do %>
    <%= content_tag :h3 do %>
      All art
    <% end %>
    <%= render partial: 'artworks/artwork', collection: @artworks, as: :artwork %>
  <% end %>
<% end %>

<script id="artworks" type="text/x-handlebars-template">
  <div class="col-sm-6 col-md-4">
  {{#each this}}
      <div class="thumbnail">
        <a href="#"><img src="/system/images/{{image_file_name}}" class="img-responsive" alt="{{title}}"></a>
        <div class="caption">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
          <p>price: {{price}}</p>
        </div>
      </div>
  {{/each}}
  </div>
</script>
