<div class="order-item-wrap">
<% order.order_items.each do |item| %>
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
          <div class="thumbnail image">
            <img src="<%= item.artwork.image %>">
          </div>
      </div>
      <div class="order-details">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4><%= item.artwork.title %></h3>
            <p>Artist Name: <%= item.artwork.artist.email %></p>
            <%= button_to 'Delete', order_path, class: 'btn btn-danger btn-xs', method: :delete %>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <h5>Price </h5>
          <p><%= number_to_currency(item.artwork.price) %></p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-quantity">
          <h5>Quantity </h5>
          <p><%= item.quantity %></p>
        </div>
      </div>
    </div>
<% end %>
  <h3>Order Total: <%= number_to_currency(@order.total) %></h3>
  <%= button_to 'Checkout', checkout_path, class: 'btn btn-primary' %>
</div>