<div class="order-item-wrap">
<% order.order_items.each do |item| %>
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
          <div class="thumbnail image">
            <img src="<%= item.artwork.image %>">
          </div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="order-details">
          <h4><%= item.artwork.title %></h3>
          <p>Artist Name: <%= item.artwork.artist.email %></p>
          <%= button_to 'Delete', order_path, class: 'btn btn-danger btn-xs' %>
        </div>
      </div>
    </div>
<% end %>
  <h3>Order Total: <%= number_to_currency(@order.total) %></h3>
  <%= button_to 'Checkout', order_path, class: 'btn btn-primary' %>
</div>