<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="<%= root_path %>"/><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Shop', artworks_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <% if current_user && current_user.current_order %>
              <li><%= link_to '', order_path(current_user.current_order), class: "glyphicon glyphicon-shopping-cart " "aria-hidden=true"%></li>
            <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Sell Art', new_user_artwork_path(current_user) %></li>
              <li><%= link_to 'Profile ', user_path(current_user) %></li>
              <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
          </li><!-- /.dropdown -->
            </ul>
        <% else %>
          <li> <%= link_to 'Sign In', new_user_session_path %> </li>
          <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>