<!DOCTYPE html>
<html>
  <head>
    <title>Art Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <!--  navbar -->
    <nav>
      <%= render 'layouts/header' %>
    </nav>

    <!-- content -->
    <div class="container-fluid"  role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
